* {
  font-family: "Roboto", sans-serif;
  /* Thin 100
  Light 300
  Regular 400
  Bold 700
  Black 900 */
}

header {
  position: relative;
  height: 50px; /* * */
}

/* Навигация */
nav {
  height: 53px;
  background: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 15px 70px;
  margin: 0;
  list-style-type: none;
}

.menu a.menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.menu .menu_itm:not(:last-child) {
  /*кроме последнего*/
  border-right: 2px dotted black;
  padding-right: 50px;
}

.subheader {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 85px;
  background: rgba(0, 0, 0, 0.6);
}

img.logo {
  display: block;
  max-width: 100%;
  margin-top: 17px;
}

.subheader .logo_text {
  font-weight: 100;
  font-size: 15px;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 1px;
}

.subheader .text_call {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #ffffff;
  margin-top: 18px;
}

.subheader .phone_number {
  display: block;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  margin-top: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.btn {
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 19px;
}

span.buy {
  /* Текст */
  font-size: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* Секция-1 */
.one {
  background: url(../img/section-1/uber_bg.png) center center/cover no-repeat;
  min-height: 800px;
  text-align: center;
  padding: 150px 0 135px 0;
}

/* заголовки */
.one .h1_uber {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  /* margin-top: 68px; */
  margin: 0;
}

.one .h2_uber {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
}

.one .title_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  /* margin: 17px 77px; */
  margin-top: 23px;
}

button.btn_send {
  display: block;
  width: 259px;
  height: 63px;
  margin: 115px auto 0 auto;
}

span.send {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* Секция-2 */
.two {
  background: rgba(194, 194, 194, 0.25);
  min-height: 850px;
  text-align: center;
  padding: 20px 0 64px 0;
}

.two .rect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 27px;
  background: #000000;
  margin: 0 auto;
}

.two .h3_prem {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0;
}

.two .h1_two {
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
  margin-top: 30px;
}

.two .reason_item {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.two .reason_item .circle {
  display: flex;
  width: 116px;
  height: 116px;
  background: #1eacc7;
  border-radius: 100%;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
}

.two .reason_item .item_descr {
  width: 371px;
}

.two .reason_item .item_descr .title_reason {
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  color: #1eacc7;
  font-weight: 400;
}
.two .reason_item .item_descr .text_reason {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: left;
  color: #202020;
}

/* Секция-3 */
.three {
  background: url(../img/section-3/mobile_bg.png) center center/cover no-repeat;
  padding: 46px 0px 80px 0px;
  text-align: center;
  min-height: 865px;
}

.three .rect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 27px;
  background: #000000;
  margin: 0 auto;
}

.three .h3_ability {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0;
}

/* Секция-4 */

/* Секция-5 */

/* Секция-6 */

/* Последняя */
