//media
@media (max-width: 1200px)  //992px-1200px
  .menu
    &_itm
      .menu_link
        font-size: 11px
      &:not(:last-child)
        padding-right: 33px
  .one
    .h1_uber
      font-size: 50px
    .h2_uber
      padding: 0 120px
  .two
    .reason_item
      .item_descr
        width: 300px
  .three
    .item_mobile
      width: 280px
      height: 250px
      h4.h4_mobile
        font-size: 20px
      .mobile_plus
        margin-top: 50px
  .footer
    &_rect
      width: 338px
    &_blocks > div
      width: 60%
      &:first-child
        width: 20%
      &:last-child
        width: 20%

@media (max-width: 991px)   //768px-991px
  .menu
    &_itm
      .menu_link
        font-size: 11px
      &:not(:last-child)
        padding-right: 6px
  .subheader
    .logo_text
      font-size: 12px
    .phone_number
      font-size: 20px
  button
    &.btn
      width: 100%
      height: 30px
      margin-top: 29px
    &.btn_send
      width: 259px
      height: 63px
  span
    &.buy
      vertical-align: top
      font-size: 11px
  .one
    min-height: 350px
    padding: 150px 0 100px
    .h1_uber
      font-size: 36px
    .h2_uber
      font-size: 31px
    .title_text
      font-size: 16px
  .two
    .reason_item
      margin-top: 16px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      .item_descr
        width: 100%
        .title_reason
          height: 42px
          margin-top: 15px
          text-align: center
        .text_reason
          text-align: center

@media (max-width: 767px)   //576p x-767px
  .menu
    position: fixed
    padding: 25px 20px
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    height: 100vh
    width: 50%
    right: 0
    top: 0
    background-color: rgba(3, 3, 3, 0.85)
    &_itm
      &:not(:last-child)
        border: 0px
        padding-right: 0px
      &:not(:first-child)
        margin: 0
        margin-top: 1.5vh
      .menu_link
        // text-decoration: none
        // font-weight: 300
        // font-size: 15px
        // color: $white

  .fourth
    // position: relative
    // min-height: 895px
    // padding: 57px 0 138px 0
    // background: url(../img/section-4/Подложка.png) center center
    // .rect
    //   position: relative
    //   display: flex
    //   justify-content: center
    //   align-items: center
    //   width: 115px
    //   height: 27px
    //   background: $white
    //   margin: 0 auto
    //   z-index: 2
    // &_h3
    //   position: relative
    //   font-weight: normal
    //   font-size: 11px
    //   text-transform: uppercase
    //   color: #070716
    //   mix-blend-mode: normal
    //   margin: 0
    //   z-index: 2
    // &_h1
    //   position: relative
    //   font-weight: bold
    //   font-size: 38px
    //   align-items: center
    //   text-align: center
    //   text-transform: uppercase
    //   color: #fff
    //   margin-top: 35px
    //   z-index: 2
    // &_h2
    //   position: relative
    //   font-weight: normal
    //   font-size: 17px
    //   align-items: center
    //   text-align: center
    //   color: #fff
    //   margin-top: 1px
    //   z-index: 2
    &_img_auto
      width: 100%
      // position: relative
      // display: block
      // margin: 56px auto 0 auto
      // z-index: 2

@media (max-width: 575px)   //<575px
  // .menu
  //   position: fixed
