//colors
$color_mine_shaft_approx: #212121
$white: #ffffff
$black: black
$black_60: rgba(0, 0, 0, 0.6)
$color_java_approx: #1eacc7
$color_turquoise_blue_approx: #4ce2ff
$black_12: rgba(0, 0, 0, 0.12)
$black_21: rgba(0, 0, 0, 0.21)
$color_silver_25_approx: rgba(194, 194, 194, 0.25)

//fonts
$font_0: Roboto
$font_1: sans-serif

//url

// mixin 
=btn_hover
  &:hover
    background-color: #000
    opacity: 0.9

//styles
*
  font-family: $font_0, $font_1

header
  position: relative
  height: 50px

img.logo
  display: block
  max-width: 100%
  margin-top: 17px

nav
  height: 53px
  background: $color_mine_shaft_approx

.menu
  display: flex
  justify-content: space-between
  padding: 15px 70px
  margin: 0
  list-style-type: none
  a.menu_link
    text-decoration: none
    font-weight: 300
    font-size: 15px
    color: $white
    // cursor: pointer !important
    // &:hover
    //   cursor: pointer

  .menu_itm:not(:last-child)
    border-right: 2px dotted $black
    padding-right: 50px

.subheader
  position: absolute
  width: 100%
  top: 50px
  height: 85px
  background: $black_60
  .logo_text
    font-weight: 100
    font-size: 15px
    align-items: center
    color: $white
    margin-top: 1px

  .text_call
    font-weight: 300
    font-size: 12px
    text-align: right
    color: $white
    margin-top: 18px

  .phone_number
    display: block
    font-weight: 400
    font-size: 22px
    text-transform: uppercase
    color: $white
    text-align: right
    margin-top: 3px
    cursor: pointer
    text-decoration: none

button
  &.btn
    width: 172px
    height: 46px
    background: linear-gradient(0deg, $color_java_approx 0, $color_turquoise_blue_approx 100%)
    box-shadow: inset 0 -3px 0 $black_12
    border-radius: 4px
    margin-top: 19px
    // outline: none
    +btn_hover

  &.btn_send
    display: block
    width: 259px
    height: 63px
    margin: 115px auto 0 auto

span
  &.buy
    font-size: 14px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: $white
    text-shadow: 1px 1px 0 $black_21

  &.send
    font-weight: normal
    font-size: 18px
    text-transform: uppercase
    color: $white
    text-shadow: 1px 1px 0 $black_21

.one
  background: url(../img/section-1/uber_bg.png) center center/cover no-repeat
  min-height: 800px
  text-align: center
  padding: 150px 0 135px
  .h1_uber
    font-weight: 900
    font-size: 60px
    text-transform: uppercase
    color: $white
    margin: 0

  .h2_uber
    font-weight: bold
    font-size: 36px
    text-transform: uppercase
    color: $white
    margin: 0
    margin-top: 12px

  .title_text
    font-weight: normal
    font-size: 18px
    line-height: 24px
    color: $white
    margin-top: 23px

.two
  background: $color_silver_25_approx
  min-height: 850px
  text-align: center
  padding: 20px 0 64px
  .rect
    display: flex
    justify-content: center
    align-items: center
    width: 115px
    height: 27px
    background: $black
    margin: 0 auto

  .h3_prem
    font-weight: normal
    font-size: 11px
    text-transform: uppercase
    color: $white
    mix-blend-mode: normal
    margin: 0

  .h1_two
    font-weight: bold
    font-size: 38px
    text-transform: uppercase
    color: $color_mine_shaft_approx
    margin-top: 30px

  .reason_item
    margin-top: 16px
    display: flex
    justify-content: center
    align-items: flex-start
    .circle
      display: flex
      width: 116px
      height: 116px
      background: $color_java_approx
      border-radius: 75%
      margin-right: 25px
      justify-content: center
      align-items: center

    .item_descr
      width: 371px
      .title_reason
        font-size: 17px
        line-height: 21px
        text-align: left
        color: $color_java_approx
        font-weight: 400

      .text_reason
        font-weight: 300
        font-size: 15px
        line-height: 21px
        text-align: left
        color: $color_mine_shaft_approx

.three
  background: url(../img/section-3/mobile_bg.png) center center/cover no-repeat
  padding: 46px 0 80px
  text-align: center
  min-height: 865px
  .rect
    display: flex
    justify-content: center
    align-items: center
    width: 115px
    height: 27px
    background: $black
    margin: 0 auto

  .h3_ability
    font-weight: normal
    font-size: 11px
    text-transform: uppercase
    color: $white
    mix-blend-mode: normal
    margin: 0

  .h1_three
    font-weight: bold
    font-size: 38px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: $black
    margin-top: 35px

  .h2_three
    font-weight: normal
    font-size: 17px
    align-items: center
    text-align: center
    color: #222222
    margin-top: 1px

  .row
    margin-top: 30px

  .item_mobile
    display: relative
    margin: 0 auto
    margin-bottom: 18px
    padding-top: 88px
    padding-bottom: 35px
    width: 320px
    height: 280px

    &-1
      background: url(../img/section-3/card1.png) center center/cover no-repeat
    &-2
      background: url(../img/section-3/card2.png) center center/cover no-repeat
    &-3
      background: url(../img/section-3/card3.png) center center/cover no-repeat
    &-4
      background: url(../img/section-3/card4.png) center center/cover no-repeat
    &-5
      background: url(../img/section-3/card5.png) center center/cover no-repeat
    &-6
      background: url(../img/section-3/card-6.png) center center/cover no-repeat

    h4.h4_mobile
      font-weight: normal
      font-size: 24px
      align-items: center
      text-align: center
      text-transform: uppercase
      color: #FFFFFF
      height: 65px

    .mobile_plus
      display: flex
      justify-content: center
      width: 29px
      height: 29px
      background: $black
      border-radius: 75%
      align-items: center
      margin: 0 auto
      margin-top: 75px
      cursor: pointer
      &:before
        content: ' '
        display: block
        height: 14px
        width: 2px
        background-color: #1EACC7
        transition: 0.25s all
      &:after
        content: ' '
        display: block
        position: absolute
        height: 2px
        width: 14px
        background-color: #1eacc7
        transition: 0.25s all
      &:hover
        &:before, &::after
          background-color: white

.fourth
  position: relative
  min-height: 895px
  padding: 57px 0 138px 0
  background: url(../img/section-4/Подложка.png) center center
  .rect
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 115px
    height: 27px
    background: $white
    margin: 0 auto
    z-index: 2
  &_h3
    position: relative
    font-weight: normal
    font-size: 11px
    text-transform: uppercase
    color: #070716
    mix-blend-mode: normal
    margin: 0
    z-index: 2
  &_h1
    position: relative
    font-weight: bold
    font-size: 38px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #fff
    margin-top: 35px
    z-index: 2
  &_h2
    position: relative
    font-weight: normal
    font-size: 17px
    align-items: center
    text-align: center
    color: #fff
    margin-top: 1px
    z-index: 2
  &_img_auto
    position: relative
    display: block
    margin: 56px auto 0 auto
    z-index: 2
  &_descr
    text-align: center
    color: #222222
    font-size: 17px
    font-weight: 300
    line-height: 24px
  .black
    position: absolute
    top: 0
    left: 0
    height: 499px
    width: 100%
    background-color: #070716
    z-index: 1

.fifth
  position: relative
  min-height: 900px
  padding: 67px 0 87px 0
  background: #fff

  .rect
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 115px
    height: 27px
    background: #000
    margin: 0 auto
    z-index: 2

  &_h3
    position: relative
    font-weight: normal
    font-size: 11px
    text-transform: uppercase
    color: #fff
    mix-blend-mode: normal
    margin: 0
    z-index: 2

  &_h1
    position: relative
    font-weight: bold
    font-size: 38px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #222222
    margin-top: 35px
    z-index: 2

  .require_block
    margin-top: 30px
    margin-bottom: 30px

    .require_name
      font-size: 22px
      line-height: 24px
      color: #27c0df
      margin-left: 7px

    ul
      list-style-type: none
    .require_list
      padding-left: 55px
      margin-top: 20px
      li
        font-weight: 300
        font-size: 17px
        color: #222222
        margin-bottom: 5px
        position: relative
        &::before
          content: ''
          height: 20px
          width: 21px
          position: absolute
          left: -30px
          top: 2.5px

          background: url(../img/section-5/blue.svg) center (center/cover) no-repeat

    .req_text
      font-weight: 300
      font-size: 17px
      line-height: 24px
      color: #27c0df

      margin-top: 25px

  .second_color
    .orangee
      color: orange
    .orangee_li
      li::before
        background: url(../img/section-5/orange.svg) center (center/cover) no-repeat

.sixth
  position: relative
  min-height: 720px
  padding: 50px 0
  background: url(../img/section-6/world_bg.png) center center // cover no-repeat
  .rect
    display: flex
    justify-content: center
    align-items: center
    width: 115px
    height: 27px
    background: $white
    margin: 0 auto
  &_h3
    font-weight: normal
    font-size: 11px
    text-transform: uppercase
    color: #070716
    mix-blend-mode: normal
    margin: 0
  &_h1
    font-weight: bold
    font-size: 38px
    align-items: center
    text-align: center
    text-transform: uppercase
    color: #fff
    margin-top: 35px
  &_h2
    font-weight: normal
    font-size: 17px
    align-items: center
    text-align: center
    color: #fff
    margin-top: 1px
  .sub_text
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 50px
    font-weight: 400
    font-size: 15px
    text-align: center
    text-transform: uppercase
    color: #1FBAD6
    text-decoration: none
    &:hover
      text-decoration: none
      color: #fff

.footer
  position: relative
  min-height: 155px
  padding: 11px 23px
  background: white
  &_rect
    margin: 0 auto
    width: 301px
    height: 7px
    background: #1FBAD6
  &_blocks
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-top: 37px
  &_blocks > div
    width: 33%
    &:last-child      // &:nth-child(3)
      display: flex
      justify-content: flex-end

    // 1
    .footer_social
      width: 158px
      display: flex
      justify-content: space-between
      .social_item
        display: flex
        justify-content: center
        align-items: center
        width: 35px
        height: 35px
        background-color: #070716
        border-radius: 100%
        text-decoration: none
        i
          color: #fff
        i:hover
          color: #1FBAD6

    // 2
    .footer_links
      text-align: center
      .main_links
        .f_link
          font-style: normal
          font-weight: 300
          font-size: 15px
          align-items: center
          text-transform: uppercase
          color: #070716
          text-decoration: none
          margin: 0px 24px
          &:hover
            text-decoration: none
            color: #13dcff
      .second_links
        margin-top: 8px
        .f_link2
          font-style: normal
          font-weight: 300
          font-size: 11px
          align-items: center
          text-transform: uppercase
          color: #999999
          text-decoration: none
          margin: 0px 11px
          &:hover
            text-decoration: none
            color: #13dcff
      .sub_text
        font-weight: 400
        font-size: 11px
        text-align: center
        text-transform: uppercase
        color: #1FBAD6
        text-decoration: none
        &:hover
          text-decoration: none
          color: #000

    // 3 
    .footer_application
      width: 259px
      display: flex
      justify-content: space-between
      .a_div
        display: flex
        align-items: center
        height: 20px
        width: 80px
        background-color: #000
        border-radius: 15px
      .a_store
        margin-left: 8px
        text-decoration: none
        cursor: pointer
        font-weight: 400
        font-size: 11px
        text-align: center
        text-transform: uppercase
        color: #fff
        &::after
          content: 'Скачать'
        &:hover
          color: #1FBAD6
