* {
  font-family: Roboto, sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  height: 53px;
  background: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 70px;
  margin: 0;
  list-style-type: none;
}

.menu a.menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.menu .menu_itm:not(:last-child) {
  border-right: 2px dotted black;
  padding-right: 50px;
}

.subheader {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 85px;
  background: rgba(0, 0, 0, 0.6);
}

.subheader .logo_text {
  font-weight: 100;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 1px;
}

.subheader .text_call {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #ffffff;
  margin-top: 18px;
}

.subheader .phone_number {
  display: block;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  margin-top: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.btn {
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0, #4ce2ff 100%);
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 19px;
}

button.btn_send {
  display: block;
  width: 259px;
  height: 63px;
  margin: 115px auto 0 auto;
}

span.buy {
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

span.send {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

.one {
  background: url(../img/section-1/uber_bg.png) center center/cover no-repeat center center/cover no-repeat;
  min-height: 800px;
  text-align: center;
  padding: 150px 0 135px;
}

.one .h1_uber {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.one .h2_uber {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
}

.one .title_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 23px;
}

.two {
  background: rgba(194, 194, 194, 0.25);
  min-height: 850px;
  text-align: center;
  padding: 20px 0 64px;
}

.two .rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: black;
  margin: 0 auto;
}

.two .h3_prem {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0;
}

.two .h1_two {
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.two .reason_item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.two .reason_item .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 116px;
  height: 116px;
  background: #1eacc7;
  border-radius: 75%;
  margin-right: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two .reason_item .item_descr {
  width: 371px;
}

.two .reason_item .item_descr .title_reason {
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  color: #1eacc7;
  font-weight: 400;
}

.two .reason_item .item_descr .text_reason {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: left;
  color: #212121;
}

.three {
  background: url(../img/section-3/mobile_bg.png) center center/cover no-repeat center center/cover no-repeat;
  padding: 46px 0 80px;
  text-align: center;
  min-height: 865px;
}

.three .rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: black;
  margin: 0 auto;
}

.three .h3_ability {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0;
}

.three .h1_three {
  font-weight: bold;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 35px;
}

.three .h2_three {
  font-weight: normal;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
  margin-top: 1px;
}

.three .row {
  margin-top: 30px;
}

.three .item_mobile {
  display: relative;
  margin: 0 auto;
  margin-bottom: 18px;
  padding-top: 88px;
  padding-bottom: 35px;
  width: 320px;
  height: 280px;
}

.three .item_mobile-1 {
  background: url(../img/section-3/card1.png) center center/cover no-repeat;
}

.three .item_mobile-2 {
  background: url(../img/section-3/card2.png) center center/cover no-repeat;
}

.three .item_mobile-3 {
  background: url(../img/section-3/card3.png) center center/cover no-repeat;
}

.three .item_mobile-4 {
  background: url(../img/section-3/card4.png) center center/cover no-repeat;
}

.three .item_mobile-5 {
  background: url(../img/section-3/card5.png) center center/cover no-repeat;
}

.three .item_mobile-6 {
  background: url(../img/section-3/card-6.png) center center/cover no-repeat;
}

.three .item_mobile h4.h4_mobile {
  font-weight: normal;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 65px;
}

.three .item_mobile .mobile_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 29px;
  height: 29px;
  background: black;
  border-radius: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 75px;
  cursor: progress;
}

img.logo {
  display: block;
  max-width: 100%;
  margin-top: 17px;
}
/*# sourceMappingURL=style.css.map */