@charset "UTF-8";
* {
  font-family: Roboto, sans-serif;
}

header {
  position: relative;
  height: 50px;
}

img.logo {
  display: block;
  max-width: 100%;
  margin-top: 17px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 53px;
  background: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_itm .menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.menu_itm:not(:last-child) {
  border-right: 2px dotted black;
  padding-right: 50px;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 85px;
  background: rgba(0, 0, 0, 0.6);
}

.subheader .logo_text {
  font-weight: 100;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-top: 1px;
}

.subheader .text_call {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #ffffff;
  margin-top: 18px;
}

.subheader .phone_number {
  display: block;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  margin-top: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.btn {
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0, #4ce2ff 100%);
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 19px;
}

button.btn:hover {
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  background-color: #000;
  opacity: 0.9;
}

button.btn_send {
  display: block;
  width: 259px;
  height: 63px;
  margin: 115px auto 0 auto;
}

span.buy {
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

span.send {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

.one {
  background: url(../img/section-1/uber_bg.png) center center/cover no-repeat;
  min-height: 800px;
  text-align: center;
  padding: 150px 0 135px;
}

.one .h1_uber {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.one .h2_uber {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 12px;
}

.one .title_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 23px;
}

.two {
  background: rgba(194, 194, 194, 0.25);
  min-height: 850px;
  text-align: center;
  padding: 20px 0 64px;
}

.two .rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: black;
  margin: 0 auto;
}

.two .h3_prem {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0;
}

.two .h1_two {
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.two .reason_item {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.two .reason_item .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 116px;
  height: 116px;
  background: #1eacc7;
  border-radius: 75%;
  margin-right: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two .reason_item .item_descr {
  width: 371px;
}

.two .reason_item .item_descr .title_reason {
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  color: #1eacc7;
  font-weight: 400;
}

.two .reason_item .item_descr .text_reason {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: left;
  color: #212121;
}

.three {
  background: url(../img/section-3/mobile_bg.png) center center/cover no-repeat;
  padding: 46px 0 80px;
  text-align: center;
  min-height: 865px;
}

.three .rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: black;
  margin: 0 auto;
}

.three .h3_ability {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0;
}

.three .h1_three {
  font-weight: bold;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 35px;
}

.three .h2_three {
  font-weight: normal;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
  margin-top: 1px;
}

.three .row {
  margin-top: 30px;
}

.three .item_mobile {
  display: relative;
  margin: 0 auto;
  margin-bottom: 18px;
  padding-top: 88px;
  padding-bottom: 35px;
  width: 320px;
  height: 280px;
}

.three .item_mobile-1 {
  background: url(../img/section-3/card1.png) center center/cover no-repeat;
}

.three .item_mobile-2 {
  background: url(../img/section-3/card2.png) center center/cover no-repeat;
}

.three .item_mobile-3 {
  background: url(../img/section-3/card3.png) center center/cover no-repeat;
}

.three .item_mobile-4 {
  background: url(../img/section-3/card4.png) center center/cover no-repeat;
}

.three .item_mobile-5 {
  background: url(../img/section-3/card5.png) center center/cover no-repeat;
}

.three .item_mobile-6 {
  background: url(../img/section-3/card-6.png) center center/cover no-repeat;
}

.three .item_mobile h4.h4_mobile {
  font-weight: normal;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 65px;
}

.three .item_mobile .mobile_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 29px;
  height: 29px;
  background: black;
  border-radius: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 75px;
  cursor: pointer;
}

.three .item_mobile .mobile_plus:before {
  content: ' ';
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.three .item_mobile .mobile_plus:after {
  content: ' ';
  display: block;
  position: absolute;
  height: 2px;
  width: 14px;
  background-color: #1eacc7;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.three .item_mobile .mobile_plus:hover:before, .three .item_mobile .mobile_plus:hover::after {
  background-color: white;
}

.fourth {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url(../img/section-4/Подложка.png) center center;
}

.fourth .rect {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: #ffffff;
  margin: 0 auto;
  z-index: 2;
}

.fourth_h3 {
  position: relative;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #070716;
  mix-blend-mode: normal;
  margin: 0;
  z-index: 2;
}

.fourth_h1 {
  position: relative;
  font-weight: bold;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 35px;
  z-index: 2;
}

.fourth_h2 {
  position: relative;
  font-weight: normal;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 1px;
  z-index: 2;
}

.fourth_img_auto {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

.fourth_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.fourth .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.fifth {
  position: relative;
  min-height: 900px;
  padding: 67px 0 87px 0;
  background: #fff;
}

.fifth .rect {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: #000;
  margin: 0 auto;
  z-index: 2;
}

.fifth_h3 {
  position: relative;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  mix-blend-mode: normal;
  margin: 0;
  z-index: 2;
}

.fifth_h1 {
  position: relative;
  font-weight: bold;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 35px;
  z-index: 2;
}

.fifth .require_block {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fifth .require_block .require_name {
  font-size: 22px;
  line-height: 24px;
  color: #27c0df;
  margin-left: 7px;
}

.fifth .require_block ul {
  list-style-type: none;
}

.fifth .require_block .require_list {
  padding-left: 55px;
  margin-top: 20px;
}

.fifth .require_block .require_list li {
  font-weight: 300;
  font-size: 17px;
  color: #222222;
  margin-bottom: 5px;
  position: relative;
}

.fifth .require_block .require_list li::before {
  content: '';
  height: 20px;
  width: 21px;
  position: absolute;
  left: -30px;
  top: 2.5px;
  background: url(../img/section-5/blue.svg) center center/cover no-repeat;
}

.fifth .require_block .req_text {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #27c0df;
  margin-top: 25px;
}

.fifth .second_color .orangee {
  color: orange;
}

.fifth .second_color .orangee_li li::before {
  background: url(../img/section-5/orange.svg) center center/cover no-repeat;
}

.sixth {
  position: relative;
  min-height: 720px;
  padding: 50px 0;
  background: url(../img/section-6/world_bg.png) center center;
}

.sixth .rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 27px;
  background: #ffffff;
  margin: 0 auto;
}

.sixth_h3 {
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #070716;
  mix-blend-mode: normal;
  margin: 0;
}

.sixth_h1 {
  font-weight: bold;
  font-size: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 35px;
}

.sixth_h2 {
  font-weight: normal;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 1px;
}

.sixth .sub_text {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 50px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  text-decoration: none;
}

.sixth .sub_text:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-decoration: none;
  color: #fff;
}

.footer {
  position: relative;
  min-height: 155px;
  padding: 11px 23px;
  background: white;
}

.footer_rect {
  margin: 0 auto;
  width: 301px;
  height: 7px;
  background: #1FBAD6;
}

.footer_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 37px;
}

.footer_blocks > div {
  width: 33%;
}

.footer_blocks > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_blocks > div .footer_social {
  width: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_blocks > div .footer_social .social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background-color: #070716;
  border-radius: 100%;
  text-decoration: none;
}

.footer_blocks > div .footer_social .social_item i {
  color: #fff;
}

.footer_blocks > div .footer_social .social_item i:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: #1FBAD6;
}

.footer_blocks > div .footer_links {
  text-align: center;
}

.footer_blocks > div .footer_links .main_links .f_link {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #070716;
  text-decoration: none;
  margin: 0px 24px;
}

.footer_blocks > div .footer_links .main_links .f_link:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-decoration: none;
  color: #13dcff;
}

.footer_blocks > div .footer_links .second_links {
  margin-top: 8px;
}

.footer_blocks > div .footer_links .second_links .f_link2 {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
  margin: 0px 11px;
}

.footer_blocks > div .footer_links .second_links .f_link2:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-decoration: none;
  color: #13dcff;
}

.footer_blocks > div .footer_links .sub_text {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  text-decoration: none;
}

.footer_blocks > div .footer_links .sub_text:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-decoration: none;
  color: #000;
}

.footer_blocks > div .footer_application {
  width: 259px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_blocks > div .footer_application .a_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 80px;
  background-color: #000;
  border-radius: 15px;
}

.footer_blocks > div .footer_application .a_store {
  margin-left: 8px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.footer_blocks > div .footer_application .a_store::after {
  content: 'Скачать';
}

.footer_blocks > div .footer_application .a_store:hover {
  -webkit-transition: 1s all;
  transition: 1s all;
  color: #1FBAD6;
}

@media (max-width: 1200px) {
  .menu_itm .menu_link {
    font-size: 11px;
  }
  .menu_itm:not(:last-child) {
    padding-right: 33px;
  }
  .one .h1_uber {
    font-size: 50px;
  }
  .one .h2_uber {
    padding: 0 120px;
  }
  .two .reason_item .item_descr {
    width: 300px;
  }
  .three .item_mobile {
    width: 280px;
    height: 250px;
  }
  .three .item_mobile h4.h4_mobile {
    font-size: 20px;
  }
  .three .item_mobile .mobile_plus {
    margin-top: 50px;
  }
  .footer_rect {
    width: 338px;
  }
  .footer_blocks > div {
    width: 60%;
  }
  .footer_blocks > div:first-child {
    width: 20%;
  }
  .footer_blocks > div:last-child {
    width: 20%;
  }
}

@media (max-width: 991px) {
  .menu_itm .menu_link {
    font-size: 11px;
  }
  .menu_itm:not(:last-child) {
    padding-right: 6px;
  }
  .subheader .logo_text {
    font-size: 12px;
  }
  .subheader .phone_number {
    font-size: 20px;
  }
  button.btn {
    width: 100%;
    height: 30px;
    margin-top: 29px;
  }
  button.btn_send {
    width: 259px;
    height: 63px;
  }
  span.buy {
    vertical-align: top;
    font-size: 11px;
  }
  .one {
    min-height: 350px;
    padding: 150px 0 100px;
  }
  .one .h1_uber {
    font-size: 36px;
  }
  .one .h2_uber {
    font-size: 31px;
  }
  .one .title_text {
    font-size: 16px;
  }
  .two .reason_item {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two .reason_item .item_descr {
    width: 100%;
  }
  .two .reason_item .item_descr .title_reason {
    height: 42px;
    margin-top: 15px;
    text-align: center;
  }
  .two .reason_item .item_descr .text_reason {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    padding: 25px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
    width: 50%;
    left: -100%;
    top: 0;
    background-color: rgba(3, 3, 3, 0.85);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_itm:not(:last-child) {
    border: 0px;
    padding-right: 0px;
  }
  .menu_itm:not(:first-child) {
    margin: 0;
    margin-top: 1.5vh;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    width: 25px;
    height: 11px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 2px;
    -webkit-transition: 1.5s all;
    transition: 1.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateX(-5px) translateY(5px) rotate(90deg);
            transform: translateX(-5px) translateY(5px) rotate(90deg);
  }
  .hamburger_active span:nth-child(2) {
    -webkit-transform: translateX(0px) translateY(5px) rotate(270deg);
            transform: translateX(0px) translateY(5px) rotate(270deg);
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateX(5px) translateY(5px) rotate(450deg);
            transform: translateX(5px) translateY(5px) rotate(450deg);
  }
  .fourth_img_auto {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */